$color-primary: hsl(251, 73%, 54%);
$color-primary-light: hsl(246, 100%, 61%);
$color-primary-dark:  hsl(236, 71%, 32%);
$color-grey: hsl(0, 0%, 45%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);